<!DOCTYPE html>
<html lang="es"  >

<div th:replace="fragments/header :: header" ></div>

<body>
	
	<div th:replace="fragments/navbar :: navbar" ></div>
	
	<div style="margin-top: 75px" class="container" >
	
		
		<div th:if="${requestedPets.size() != 0}" >
			<h1 class="text-center" style="color: #ccc" >Solicitudes de adopción</h1>
			<div class="row mt-5" >
			
				<div class="col-12 col-sm-6 col-md-6 col-lg-6" th:each="requestedPet: ${requestedPets}">
	                <div class="card mb-2">
	                    <img class="card-img-top" src="/images/perrosygatos.webp" alt="Card image cap">
	                    <div class="card-body">
	                    	<span class="badge badge-primary">Solicitada</span>
	                        <h4 class="card-title mt-2" th:text="${requestedPet.pet.name}" ></h4>
	                        <p class="card-text" th:text="${requestedPet.pet.description}" ></p>  
	                        <button  
	                        	type="button"
	                        	class="btn btn-success btn-information"
	                     	 	th:attr="data-info=${requestedPet.jsonForFront}, data-pet=${requestedPet.pet}, data-name=${requestedPet.pet.name}, data-description=${requestedPet.pet.description}"
	                   	 	>
	                     	 Detalles de los candidatos
	                    	</button >
	                    </div>
	
	                    <div class="card-footer text-muted">
	                        <div class="row">
	                        	<div class="col-12" >
									<h4>Solicitado por:</h4>
									<div th:each="user: ${requestedPet.users}" >
										<div th:text="${user.person.name + ' ' +user.person.surname + ' ' + user.person.secondSurname }" ></div>
									</div>                        	
	                        	</div>
	                        </div>
	
	                    </div>
	                </div>
	            </div>
			
			</div>
			<hr>
		</div>
		
		<div class="row" >
			<div class="col-12" >
				<h1 class="text-center" style="color: #ccc" >Publicaciones</h1>
				<div class="row mt-5" >			
					<div class="col-4" th:each="pendingPet: ${pendingPets}">
		                <div class="card mb-2">
		                    <img class="card-img-top" src="/images/perrosygatos.webp" alt="Card image cap">
		                    <div class="card-body">
		                    	<span class="badge badge-warning" style="color: #fff" >En espera</span>
		                        <h4 class="card-title mt-3" th:text="${pendingPet.name}" ></h4>
		                        <p class="card-text" th:text="${pendingPet.description}" ></p>  
		                       <button  
		                        	type="button"
		                        	class="btn btn-success btn-justInformationVolunteer"
		                        	th:attr="data-name=${pendingPet.name}, data-age=${pendingPet.age}, data-description=${pendingPet.description}, data-date=${pendingPet.registrationDate}, data-type=${pendingPet.type}, data-color=${pendingPet.color.name}, data-personality=${pendingPet.personality.name}, data-size=${pendingPet.size}, data-gender=${pendingPet.sex}"
		                   	 	>
		                     	 Detalles
		                    	</button >
		                    </div>
		
		                    <div class="card-footer text-muted">
		                        <div class="row">
		                        	<div class="col-12" >                      	
		                        	</div>
		                        </div>
		
		                    </div>
		                </div>
		            </div>
		            <div class="col-4" th:each="acceptedPet: ${acceptedPets}">
		                <div class="card mb-2">
		                    <img class="card-img-top" src="/images/perrosygatos.webp" alt="Card image cap">
		                    <div class="card-body">
		                    <span class="badge badge-info">Aceptada</span>
		                        <h4 class="card-title" th:text="${acceptedPet.name}" ></h4>
		                        <p class="card-text" th:text="${acceptedPet.description}" ></p>  
		                        <button  
		                        	type="button"
		                        	class="btn btn-success btn-justInformationVolunteer"
		                        	th:attr="data-name=${acceptedPet.name}, data-age=${acceptedPet.age}, data-description=${acceptedPet.description}, data-date=${acceptedPet.registrationDate}, data-type=${acceptedPet.type}, data-color=${acceptedPet.color.name}, data-personality=${acceptedPet.personality.name}, data-size=${acceptedPet.size}, data-gender=${acceptedPet.sex}"
		                   	 	>
		                     	 Detalles
		                    	</button >
		                    </div>
		
		                    <div class="card-footer text-muted">
		                        <div class="row">
		                        	<div class="col-12" >                      	
		                        	</div>
		                        </div>
		
		                    </div>
		                </div>
		            </div>
		            <div class="col-4" th:each="rejectedPet: ${rejectedPets}">
		                <div class="card mb-2">
		                    <img class="card-img-top" src="/images/perrosygatos.webp" alt="Card image cap">
		                    <div class="card-body">
		                    <span class="badge badge-danger">Rechazada</span>
		                        <h4 class="card-title" th:text="${rejectedPet.name}" ></h4>
		                        <p class="card-text" th:text="${rejectedPet.description}" ></p>  
		                        <button  
		                        	type="button"
		                        	class="btn btn-success btn-justInformationVolunteer"
		                        	th:attr="data-name=${rejectedPet.name}, data-age=${rejectedPet.age}, data-description=${rejectedPet.description}, data-date=${rejectedPet.registrationDate}, data-type=${rejectedPet.type}, data-color=${rejectedPet.color.name}, data-personality=${rejectedPet.personality.name}, data-size=${rejectedPet.size}, data-gender=${rejectedPet.sex}"
		                   	 	>
		                     	 Detalles
		                    	</button >
		                    </div>
		
		                    <div class="card-footer text-muted">
		                        <div class="row">
		                        	<div class="col-12" >                      	
		                        	</div>
		                        </div>
		
		                    </div>
		                </div>
		            </div>
				</div>
			</div>
		</div>
		
<!-- 	This modal is to show who are interested in the adoption of a pet -->
		<div class="modal fade" id="requesters" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class=" modal-lg modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">Información de la mascota</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				  <div class="row" >
				  	<div class="col-3" >
				  		<h5>Nombre:</h5>
				  		<p id="petName" ></p>
				  	</div>
				  	<div class="col-3" >
				  		<h5>Tipo:</h5>
				  		<p id="petType" ></p>
				  	</div>
				  	<div class="col-3" >
				  		<h5>Edad:</h5>
				  		<p id="petAge" ></p>
				  	</div>
				  	<div class="col-3" >
				  		<h5>Color:</h5>
				  		<p id="petColor" ></p>
				  	</div>
				  	<div class="col-12" >
				  		<h5Description:></h5>
				  		<p id="petDescription" ></p>
				  	</div>
				  </div>
				  <hr>
				  <div id="forms" >
				  	<div id="innerLayout" >
				  	</div>
				  </div>
			  </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div th:replace="fragments/modalForInformation :: modalInformation" ></div>	
	
	</div>
	
	<div th:replace="fragments/footer :: footer" ></div>
	<script th:src="@{/js/modalForAdoption.js}" ></script>
	<script th:src="@{/js/petFunctions.js}" ></script>
</body>
</html>