<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <!-- Inicio Navbar Administrador -->
    <div th:fragment="navbar-admin">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2278c9;">
            <a class="navbar-brand" href="#">AdoptaMe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Perros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Gatos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Noticias</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Solicitudes</a>
                    </li>
                </ul>
                <span class="nav-text">
                    <a class="nav-link align-middle" style="color: aliceblue;" href="#">
                        <span class="material-icons" style="vertical-align: middle;">
                            account_circle
                        </span>&nbsp; Acceso</a>
                </span>
            </div>
        </nav>
    </div>
    <!-- Fin Navbar Administrador -->

    <!-- Inicio Navbar Voluntario -->
    <div th:fragment="navbar-admin">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2278c9;">
            <a class="navbar-brand" href="#">AdoptaMe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Perros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Gatos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Noticias</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Solicitudes</a>
                    </li>
                </ul>
                <span class="nav-text">
                    <a class="nav-link align-middle" style="color: aliceblue;" href="#">
                        <span class="material-icons" style="vertical-align: middle;">
                            account_circle
                        </span>&nbsp; Acceso</a>
                </span>
            </div>
        </nav>
    </div>
    <!-- Fin Navbar Voluntario -->

    <!-- Inicio Navbar Adoptador -->
    <div th:fragment="navbar-admin">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2278c9;">
            <a class="navbar-brand" href="#">AdoptaMe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Perros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Gatos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Noticias</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Solicitudes</a>
                    </li>
                </ul>
                <span class="nav-text">
                    <a class="nav-link align-middle" style="color: aliceblue;" href="#">
                        <span class="material-icons" style="vertical-align: middle;">
                            account_circle
                        </span>&nbsp; Acceso</a>
                </span>
            </div>
        </nav>
    </div>
    <!-- Fin Navbar Adoptador -->

    <!-- Inicio Navbar Anónimo -->
    <div th:fragment="navbar-admin">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2278c9;">
            <a class="navbar-brand" href="#">AdoptaMe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Perros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Gatos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Noticias</a>
                    </li>
                </ul>
                <span class="nav-text">
                    <a class="nav-link align-middle" style="color: aliceblue;" href="#">
                        <span class="material-icons" style="vertical-align: middle;">
                            account_circle
                        </span>&nbsp; Acceso</a>
                </span>
            </div>
        </nav>
    </div>
    <!-- Fin Navbar Anónimo -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>