<div th:fragment="modalForAdoption" >

	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
	 th:each="pet : ${listPets}" th:attr="id=${'editModal' + pet.id}">
	 <div class="modal-dialog  modal-lg">
	     <div class="modal-content">
	         <div class="modal-header">
	             <h5 class="modal-title">Detalles de la mascota</h5>
	             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                 <span aria-hidden="true">&times;</span>
	             </button>
	         </div>
	         <div class="modal-body">
	             <div class="row">
	                 <div class="container">
	                     <div class="form-group">
	                         <div class="row">
	                             <div class="col-12 col-sm-4">
	                                 <img class="img-fluid img-thumbnail mx-auto d-block mb-3" height="80rem"
	                                     th:src="@{/imagenesPet/{i} (i = ${pet.image})}">
	                                 <div class="row">
	                                 </div>
	                             </div>
	                             <div class="row col-12 col-sm-8">
	                                 <div class="col-12">
	                                     <label for="name" style="color: #687281;"><b>Nombre de la
	                                             mascota </b></label>
	                                     <p>[[${pet.name}]]</p>
	                                 </div>
	                                 <div class="col-6 col-sm-3">
	                                     <label for="name" style="color: #687281;"><b>Sexo</b></label>
	                                     <p th:text="${pet.sex == 'M'}  ? 'Macho' : 'Hembra'"></p>
	                                 </div>
	                                 <div class="col-6 col-sm-3">
	                                     <label for="name" style="color: #687281;"><b>Edad</b></label>
	                                     <p>[[${pet.age + " " + pet.unitAge}]]</p>
	                                 </div>
	                                 <div class="col-6 col-sm-3">
	                                     <label for="name" style="color: #687281;"><b>Tamaño</b></label>
	                                     <p>[[${pet.size}]]</p>
	                                 </div>
	                                 <div class="col-6 col-sm-3">
	                                     <label for="name" style="color: #687281;"><b>Color</b></label>
	                                     <p>[[${pet.color.name}]]</p>
	                                 </div>
	                                 <div class="col-6 col-sm-3">
	                                     <label for="name" style="color: #687281;"><b>Carácter</b></label>
	                                     <p>[[${pet.personality.name}]]</p>
	                                 </div>
	                             </div>
	                             <div class="col-12">
	                                 <label for="description" style="color: #687281;"><b>Descripción de
	                                         la mascota </b></label>
	                                 <p style="text-align: justify;" th:utext="${pet.description}"></p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <div class="col-12 d-flex justify-content-end">
	                    <form th:id="'requestAPetForm' + ${pet.id}"
	                        th:if="${!pet.status.equals('requestedByYou')}"
	                        sec:authorize="hasAuthority('ROLE_ADOPTER')"
	                        th:action="@{/mascotas/requestAdoption}" method='POST'>
	                        <input name="petId" type="hidden" th:value="${pet.id}">
	                        <input name="location" type="hidden" th:value="${location}">
	                        <button type="button"
	                            th:onclick="javascript:confirmBeforeRequesting([[${pet.id}]], [[${pet.name}]]);"
	                            class="btn btn-success"> Solicitar adopción </button>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>


</div>

<div th:fragment="goodPracticeModalForAdoption" >

	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	 <div class="modal-dialog  modal-lg">
	     <div class="modal-content">
	         <div class="modal-header">
	             <h5 class="modal-title">Detalles de la mascota</h5>
	             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                 <span aria-hidden="true">&times;</span>
	             </button>
	         </div>
	         <div class="modal-body">
	             <div class="row">
	                 <div class="container">
	                     <div class="form-group">
	                         <div class="row">
	                             <div class="col-12 col-sm-4">
	                                 <img class="img-fluid img-thumbnail mx-auto d-block mb-3" height="80rem"
	                                     th:src="@{/imagenesPet/{i} (i = ${pet.image})}">
	                                 <div class="row">
	                                 </div>
	                             </div>
	                             <div class="row col-12 col-sm-8">
	                                 <div class="col-12">
	                                     <label for="name" style="color: #687281;"><b>Nombre de la
	                                             mascota </b></label>
	                                     <p>[[${pet.name}]]</p>
	                                 </div>
	                                 <div class="col-6 col-sm-3">
	                                     <label for="name" style="color: #687281;"><b>Sexo</b></label>
	                                     <p th:text="${pet.sex == 'M'}  ? 'Macho' : 'Hembra'"></p>
	                                 </div>
	                                 <div class="col-6 col-sm-3">
	                                     <label for="name" style="color: #687281;"><b>Edad</b></label>
	                                     <p>[[${pet.age + " " + pet.unitAge}]]</p>
	                                 </div>
	                                 <div class="col-6 col-sm-3">
	                                     <label for="name" style="color: #687281;"><b>Tamaño</b></label>
	                                     <p>[[${pet.size}]]</p>
	                                 </div>
	                                 <div class="col-6 col-sm-3">
	                                     <label for="name" style="color: #687281;"><b>Color</b></label>
	                                     <p>[[${pet.color.name}]]</p>
	                                 </div>
	                                 <div class="col-6 col-sm-3">
	                                     <label for="name" style="color: #687281;"><b>Carácter</b></label>
	                                     <p>[[${pet.personality.name}]]</p>
	                                 </div>
	                             </div>
	                             <div class="col-12">
	                                 <label for="description" style="color: #687281;"><b>Descripción de
	                                         la mascota </b></label>
	                                 <p style="text-align: justify;" th:utext="${pet.description}"></p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <div class="col-12 d-flex justify-content-end">
	                    <form th:id="'requestAPetForm' + ${pet.id}"
	                        th:if="${!pet.status.equals('requestedByYou')}"
	                        sec:authorize="hasAuthority('ROLE_ADOPTER')"
	                        th:action="@{/mascotas/requestAdoption}" method='POST'>
	                        <input name="petId" type="hidden" th:value="${pet.id}">
	                        <input name="location" type="hidden" th:value="${location}">
	                        <button type="button"
	                            th:onclick="javascript:confirmBeforeRequesting([[${pet.id}]], [[${pet.name}]]);"
	                            class="btn btn-success"> Solicitar adopción </button>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
</div>

	
	