<div th:fragment="modalInformation">


	<div id="modalForJustForInformation" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog  modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Detalles de la mascota</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="container">
							<div class="form-group">
								<div class="row">
									<div class="col-12 col-sm-4">
										<img class="img-fluid img-thumbnail mx-auto d-block mb-3" height="80rem"
											id="petImageJustInfo">
										<div class="row">
										</div>
									</div>
									<div class="row col-12 col-sm-8">
										<div class="col-12">
											<label for="name" style="color: #687281;"><b>Nombre de la mascota
												</b></label>
											<p id="petNameJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Sexo</b></label>
											<p id="petGenderJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Edad</b></label>
											<p id="petAgeJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Tamaño</b></label>
											<p id="petSizeJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Color</b></label>
											<p id="petColorJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Carácter</b></label>
											<p id="petPersonalityJustInfo"></p>
										</div>
									</div>
									<div class="col-12">
										<label for="description" style="color: #687281;"><b>Descripción de la mascota
											</b></label>
										<p style="text-align: justify;" id="petDescriptionJustInfo"></p>
									</div>
									<div id="footerForAdoption" class="col-12 d-flex justify-content-end">
										<div id="innerLayoutForLanding" >
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div th:fragment="modalAdoptedPetInformation">


	<div id="modalForAdoptedPetJustForInformation" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog  modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Detalles de la mascota</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="container">
							<div class="form-group">
								<div class="row">
									<div class="col-12 col-sm-4">
										<img class="img-fluid img-thumbnail mx-auto d-block mb-3" height="80rem"
											id="adoptedPetImageJustInfo">
										<div class="row">
										</div>
									</div>
									<div class="row col-12 col-sm-8">
										<div class="col-12">
											<label for="name" style="color: #687281;"><b>Nombre de la mascota
												</b></label>
											<p id="adoptedPetNameJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Sexo</b></label>
											<p id="adoptedPetGenderJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Edad</b></label>
											<p id="adoptedPetAgeJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Tamaño</b></label>
											<p id="adoptedPetSizeJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Color</b></label>
											<p id="adoptedPetColorJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Carácter</b></label>
											<p id="adoptedPetPersonalityJustInfo"></p>
										</div>
									</div>
									<div class="col-12">
										<label for="description" style="color: #687281;"><b>Descripción de la mascota
											</b></label>
										<p style="text-align: justify;" id="adoptedPetDescriptionJustInfo"></p>
									</div>

									<hr width="90%">
									<div class="col-12">
										<h4>Adoptado por: </h4>
									</div>

									<div class="col-6 col-sm-3">
										<label for="description" style="color: #687281;"><b>Nombre de usuario
											</b></label>
										<p style="text-align: justify;" id="petAdopterUsernameJustInfo"></p>
									</div>
									<div class="col-6 col-sm-3">
										<label for="description" style="color: #687281;"><b>Nombre </b></label>
										<p style="text-align: justify;" id="petAdopterNameJustInfo"></p>
									</div>
									<div class="col-6 col-sm-3">
										<label for="description" style="color: #687281;"><b>Apellido paterno
											</b></label>
										<p style="text-align: justify;" id="petAdopterSurnameJustInfo"></p>
									</div>
									<div class="col-6 col-sm-3">
										<label for="description" style="color: #687281;"><b>Apellido materno
											</b></label>
										<p style="text-align: justify;" id="petAdopterSecondSurnameJustInfo"></p>
									</div>
									<div class="col-12 col-sm-12">
										<label for="description" style="color: #687281;"><b>Correo electrónico
											</b></label>
										<p style="text-align: justify;" id="petAdopterEmailJustInfo"></p>
									</div>
									<div class="col-12 col-sm-12">
										<label for="description" style="color: #687281;"><b>Número de teléfono
											</b></label>
										<p style="text-align: justify;" id="petAdopterPhoneNumberJustInfo"></p>
									</div>


									<div class="col-12 d-flex justify-content-end">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div th:fragment="fragmentModalAdoptedPetWithOwnerInformation">


	<div id="modalAdoptedPetWithOwnerInformation" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog  modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Detalles de la mascota</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="container">
							<div class="form-group">
								<div class="row">
									<div class="col-12 col-sm-4">
										<img class="img-fluid img-thumbnail mx-auto d-block mb-3" height="80rem"
											id="adoptedPetImageJustInfo">
										<div class="row">
										</div>
									</div>
									<div class="row col-12 col-sm-8">
										<div class="col-12">
											<label for="name" style="color: #687281;"><b>Nombre de la mascota
												</b></label>
											<p id="adoptedPetNameJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Sexo</b></label>
											<p id="adoptedPetGenderJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Edad</b></label>
											<p id="adoptedPetAgeJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Tamaño</b></label>
											<p id="adoptedPetSizeJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Color</b></label>
											<p id="adoptedPetColorJustInfo"></p>
										</div>
										<div class="col-6 col-sm-3">
											<label for="name" style="color: #687281;"><b>Carácter</b></label>
											<p id="adoptedPetPersonalityJustInfo"></p>
										</div>
									</div>
									<div class="col-12">
										<label for="description" style="color: #687281;"><b>Descripción de la mascota
											</b></label>
										<p style="text-align: justify;" id="adoptedPetDescriptionJustInfo"></p>
									</div>

									<hr width="90%">
									<div class="col-12">
										<h4>Información del dueño: </h4>
									</div>

									<div class="col-6 col-sm-3">
										<label for="description" style="color: #687281;"><b>Nombre de usuario
											</b></label>
										<p style="text-align: justify;" id="petAdopterUsernameJustInfo"></p>
									</div>
									<div class="col-6 col-sm-3">
										<label for="description" style="color: #687281;"><b>Nombre </b></label>
										<p style="text-align: justify;" id="petAdopterNameJustInfo"></p>
									</div>
									<div class="col-6 col-sm-3">
										<label for="description" style="color: #687281;"><b>Apellido paterno
											</b></label>
										<p style="text-align: justify;" id="petAdopterSurnameJustInfo"></p>
									</div>
									<div class="col-6 col-sm-3">
										<label for="description" style="color: #687281;"><b>Apellido materno
											</b></label>
										<p style="text-align: justify;" id="petAdopterSecondSurnameJustInfo"></p>
									</div>
									<div class="col-12 col-sm-12">
										<label for="description" style="color: #687281;"><b>Correo electrónico
											</b></label>
										<p style="text-align: justify;" id="petAdopterEmailJustInfo"></p>
									</div>
									<div class="col-12 col-sm-12">
										<label for="description" style="color: #687281;"><b>Número de teléfono
											</b></label>
										<p style="text-align: justify;" id="petAdopterPhoneNumberJustInfo"></p>
									</div>
									<div class="col-12 d-flex justify-content-end">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>