
    <!-- Inicio Navbar Administrador -->
    <div th:fragment="navbar-admin">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2278c9;">
            <a class="navbar-brand" href="#">AdoptaMe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Perros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Gatos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Noticias</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Solicitudes</a>
                    </li>
                </ul>
                <span class="nav-text">
                    <a class="nav-link align-middle" style="color: aliceblue;" href="#">
                        <span class="material-icons" style="vertical-align: middle;">
                            account_circle
                        </span>&nbsp; Acceso</a>
                </span>
            </div>
        </nav>
    </div>
    <!-- Fin Navbar Administrador -->

    <!-- Inicio Navbar Voluntario -->
    <div th:fragment="navbar-voluntario">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2278c9;">
            <a class="navbar-brand" href="#">AdoptaMe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Perros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Gatos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Noticias</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Solicitudes</a>
                    </li>
                </ul>
                <span class="nav-text">
                    <a class="nav-link align-middle" style="color: aliceblue;" href="#">
                        <span class="material-icons" style="vertical-align: middle;">
                            account_circle
                        </span>&nbsp; Acceso</a>
                </span>
            </div>
        </nav>
    </div>
    <!-- Fin Navbar Voluntario -->

    <!-- Inicio Navbar Adoptador -->
    <div th:fragment="navbar-adoptador">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2278c9;">
            <a class="navbar-brand" href="#">AdoptaMe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Perros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Gatos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Noticias</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Solicitudes</a>
                    </li>
                </ul>
                <span class="nav-text">
                    <a class="nav-link align-middle" style="color: aliceblue;" href="#">
                        <span class="material-icons" style="vertical-align: middle;">
                            account_circle
                        </span>&nbsp; Acceso</a>
                </span>
            </div>
        </nav>
    </div>
    <!-- Fin Navbar Adoptador -->

    <!-- Inicio Navbar Anónimo -->
    
    <div th:fragment="navbar-anonimo">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2278c9;">
            <a class="navbar-brand" href="#">AdoptaMe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Perros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Gatos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Noticias</a>
                    </li>
                </ul>
                <span class="nav-text">
                    <a class="nav-link align-middle" style="color: aliceblue;" href="#">
                        <span class="material-icons" style="vertical-align: middle;">
                            account_circle
                        </span>&nbsp; Acceso</a>
                </span>
            </div>
        </nav>
    </div>
    <!-- Fin Navbar Anónimo -->
