<!DOCTYPE html>
<html>
<div th:replace="fragments/header :: header" ></div>
<body>
	<div th:replace="fragments/navbar :: navbar" ></div>
	
	<div style="margin-top: 75px" class="container" >
		
		<h1 style="color: #ccc" class="text-center mb-5" >Accessos</h1>
		
		<div style="margin-inline: 10%" >
			<div class="table-responsive" >
				<table class="table" >
					<thead>
						<tr>
							<th style="color: #727b88" >#</th>
							<th style="color: #727b88" >Usuario</th>
							<th style="color: #727b88" >Rol del usuario</th>
							<th style="color: #727b88" >Fecha y hora de acceso</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tmpAccess, index : ${accesses}" >
							<td th:text="${index.count}" ></td>
							<td th:text="${tmpAccess.username}" ></td>
							<td th:text="${tmpAccess.role}" ></td>
							<td th:text="${tmpAccess.date}" ></td>
						</tr>
					</tbody>
				</table>		
			</div>		
		</div>
		
	
	</div>
	

	<div th:replace="fragments/footer :: footer" ></div>

</body>
</html>