<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<div th:replace="fragments/header :: header" > </div>

<body>

	<div th:replace="fragments/navbar :: navbar"></div>	
	
	<div class="container" style="margin-top:50px" >
		<div class="row" >
			<div class="col-12" >
			
				[[${hightlighted}]]
			
				<div th:switch="${highlighted}" >
	
					<div th:case="miCuenta" >
						<div th:replace="fragments/accountOptions/profile :: profile" ></div>
					</div>
					<div th:case="misDonaciones" >
						<div th:replace="fragments/accountOptions/donations :: donations" ></div>
					</div>
					<div th:case="misSolicitudes" style="margin-top: 50px" >
						<div th:replace="fragments/accountOptions/requests :: requests" ></div>
					</div>
					<div th:case="misFavoritos" style="margin-top: 50px" >
						<div th:replace="fragments/accountOptions/myFavorites :: myFavorites" ></div>
					</div>
					
				</div>
			
			</div>
		
		</div>
	</div>

	


<div th:replace="fragments/footer :: footer" ></div>
<script th:src="@{/js/profileFunctions.js}" ></script>
<script th:src="@{/js/jquery.mask.min.js}" ></script>
<script th:src="@{/js/userModificationValidations.js}" ></script>
<script>
	$(document).ready(function () {
		$('.phone-mask').mask('(000)000-00-00');
	});
</script>

</body>
</html>