<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<div th:replace="fragments/header :: header"></div>
<script>
    tinymce.init({
        selector: '#description',
        plugins: "textcolor, table lists code",
        toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor table code"
    });
</script>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>	
    <div class="container"  style="margin-top: 80px;">
        <div class="col-12">
        	<div th:if="${pet.id == null}">
            	<h3   style="color: #ccc" class="text-left" >Registrar mascota</h3>
            	<hr>
        	</div >
        	<div th:if="${pet.id != null}">
            	<h3 style="color: #ccc" class="text-left" >Actualizar mascota</h3>
            	<hr>
        	</div >
        </div>
        <div class="row mt-4">
                
            <div class="col-12 col-sm-12">
                <form id="formForPetCreation" th:action="@{/mascotas/save}" th:object="${pet}" novalidate method="post" enctype="multipart/form-data">
                <input name="location" th:value="${location}" type="hidden" >
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-8 col-sm-8 col-md-5">
                            <input type="hidden" th:field="*{id}" />
                            <input type="hidden" th:field="*{status}" />
                                <label for="name" style="color: #687281;"><b>Nombre de la mascota </b><span
                                        style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="name"
                                    placeholder="Ingresa el nombre de la mascota" th:field="*{name}">
                                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger mb-3 mt-3"></div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-2">
                                <label for="sex" style="color: #687281;"><b>Sexo </b><span
                                        style="color: red;">*</span></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sex" id="M" value="M" th:field="*{sex}">
                                    <label class="form-check-label" for="M">
                                        Macho
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sex" id="H" value="H" th:field="*{sex}">
                                    <label class="form-check-label" for="H" >
                                        Hembra
                                    </label>
                                </div>
                                <div th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" class="alert alert-danger mb-3 mt-3"></div>
                            </div>
                            <div class="col-6 col-sm-8 col-md-5">
                                <label for="age" style="color: #687281;"><b>Edad </b><span
                                        style="color: red;">*</span></label>
                                <div class="row">
                                    <div class="col-6">
                                    <!-- th:value="*{#strings.substring(age,0,2)}"  th:value="*{#strings.substring(age,2,7)}" -->
                                        <input type="number" class="form-control" th:field="*{age}" id="age" max="30" min="1">
                                		<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="alert alert-danger mb-3 mt-3"></div>
                                    </div>
                                    <div class="col-6">
                                        <select class="custom-select" id="unitAge" th:field="*{unitAge}">
                                            <option value="meses" selected>Meses</option>
                                            <option value="años">Años</option>
                                        </select>
                                		<div th:if="${#fields.hasErrors('unitAge')}" th:errors="*{unitAge}" class="alert alert-danger mb-3 mt-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-2">
                                <label for="type" style="color: #687281;"><b>Tipo </b><span
                                        style="color: red;">*</span></label>
                                <select class="custom-select" id="type" th:field="*{type}">
                                    <option selected value="Perro">Perro</option>
                                    <option value="Gato">Gato</option>
                                </select>
                                <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="alert alert-danger mb-3 mt-3"></div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-2">
                                <label for="size" style="color: #687281;"><b>Tamaño </b><span
                                        style="color: red;">*</span></label>
                                <select class="custom-select" id="size" th:field="*{size}">
                                    <option value="Chico">Pequeño</option>
                                    <option value="Mediano">Mediano</option>
                                    <option value="Grande">Grande</option>
                                </select>
                                <div th:if="${#fields.hasErrors('size')}" th:errors="*{size}" class="alert alert-danger mb-3 mt-3"></div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-2">
                                <label for="color" style="color: #687281;"><b>Color </b><span
                                        style="color: red;">*</span></label>
                                <select class="custom-select" id="color" th:field="*{color}">
                                    <option th:each="tmpColor: ${colorsList}" th:text="${tmpColor.name}"
                                        th:value="${tmpColor.id}"></option>
                                </select>
                                <div th:if="${#fields.hasErrors('color')}" th:errors="*{color}" class="alert alert-danger mb-3 mt-3"></div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <label for="caracter" style="color: #687281;"><b>Caracter </b><span
                                        style="color: red;">*</span></label>
                                <select class="custom-select" id="caracter" th:field="*{personality}">
                                    <option th:each="tmpCaracter: ${personalitiesList}" th:text="${tmpCaracter.name}"
                                        th:value="${tmpCaracter.id}"></option>
                                </select>
                                <div th:if="${#fields.hasErrors('personality')}" th:errors="*{personality}" class="alert alert-danger mb-3 mt-3"></div>
                            </div>
                            
                            
                            <div class="col-6 col-sm-4 col-md-3">
                                <!--<label for="image" style="color: #687281;"><b>Imagen </b><span
                                            style="color: red;">*</span></label>
                            	<div class="custom-file">
                                    <input type="file" class="custom-file-input" name="imagenPost" id="image" accept=".jpg, .jpeg, .png" placeholder="Buscar">
                                    <label class="custom-file-label" for="image">Seleccionar</label>
                            	</div>-->
                            	<label for="image" style="color: #687281;"><b>Imagen </b><span
                                            style="color: red;">*</span></label>
                                    <input class="form-control" type="file" name="imagenPet" id="imagenPet" accept=".jpg, .jpeg, .png">
                            </div>
                            
                            
                            <div class="col-12 mt-3">
                                <label for="description" style="color: #687281;"><b>Descripción de la mascota </b><span
                                        style="color: red;">*</span></label>
                                <textarea class="form-control" id="description" th:field="*{description}" rows="10"></textarea>
                                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger mb-3 mt-3"></div>
                            </div>
                            <input id="registrationDate" th:field="*{registrationDate}" type="hidden">
                            <!-- <input type="text" name="user" th:field="*{user}" value="1" > -->
                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-end mb-2">
                    	<a th:href="@{/misPublicaciones}" class="btn btn-danger  mr-2">Cancelar</a >
                        <button class="btn btn-success" onClick="confirmationBeforeCreation()" type="button">Guardar</button>
                    </div>
                </form >
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    <script>
        let file = document.getElementById("image");

        const uploadFile = () => {
            file.click();
        }

        $(document).ready(function(){
            let registrationDate = document.getElementById("registrationDate");
            let date = new Date();
            date = date.toISOString().split('T')[0];
            registrationDate.value = date;
        });
    </script>
    <script th:src="@{/js/petFunctions.js}"></script>
    
    

</body>

</html>