<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<div th:replace="fragments/header :: header"></div>

<body>
    <div th:replace="fragments/navbar :: navbar-voluntario"></div>

    <div class="container">
        <div class="col-12 text-center">
            <h1>Registrar mascota</h1>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-2 mb-3">
                <p class="text-center" for="image" style="color: #687281;"><b>Añadir imagen</b></p>
                <input class="mx-auto d-block" type="image" onclick="uploadFile()" height="80rem"
                    src="https://cdn1.iconfinder.com/data/icons/ui-colored-1/100/UI__2-512.png">
                <input id="image" type="file" style="display: none;" accept=".jpg, .jpeg, .png">
            </div>
            <div class="col-12 col-sm-10">
                <form th:action="@{/savePet}" th:object="${pet}" method="POST">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-12 col-sm-8 col-md-6">
                                <label for="name" style="color: #687281;"><b>Nombre de la mascota </b><span
                                        style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="name"
                                    placeholder="Ingresa el nombre de la mascota" th:field="*{name}">
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <label for="sex" style="color: #687281;"><b>Sexo </b><span
                                        style="color: red;">*</span></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sex" id="M" value="M"
                                        checked th:field="*{sex}">
                                    <label class="form-check-label" for="M">
                                        Macho
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sex" id="H" value="H">
                                    <label class="form-check-label" for="H" th:field="*{sex}">
                                        Hembra
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <label for="age" style="color: #687281;"><b>Edad </b><span
                                        style="color: red;">*</span></label>
                                <div class="row">
                                    <div class="col-6">
                                        <input type="number" class="form-control" id="age" th:field="*{age}">
                                    </div>
                                    <!-- <div class="col-6" style="padding: 0%;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="edad" id="months"
                                                value="months" checked>
                                            <label class="form-check-label" for="months">
                                                Meses
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="edad" id="years"
                                                value="years">
                                            <label class="form-check-label" for="years">
                                                Años
                                            </label>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3 ">
                                <label for="type" style="color: #687281;"><b>Tipo </b><span
                                        style="color: red;">*</span></label>
                                <select class="custom-select" id="type">
                                    <option selected value="1">Perro</option>
                                    <option value="2">Gato</option>
                                </select>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <label for="size" style="color: #687281;"><b>Tamaño </b><span
                                        style="color: red;">*</span></label>
                                <select class="custom-select" id="size" th:field="*{size}">
                                    <option value="Chico">Pequeño</option>
                                    <option value="Mediano">Mediano</option>
                                    <option value="Grande">Grande</option>
                                </select>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <label for="color" style="color: #687281;"><b>Color </b><span
                                        style="color: red;">*</span></label>
                                <select class="custom-select" id="color" th:field="*{color}">
                                    <option th:each="tmpColor: ${colorsList}" th:text="${tmpColor.name}"
                                        th:value="${tmpColor.id}"></option>
                                </select>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <label for="caracter" style="color: #687281;"><b>Caracter </b><span
                                        style="color: red;">*</span></label>
                                <select class="custom-select" id="caracter" th:field="*{personality}">
                                    <option th:each="tmpCaracter: ${personalitiesList}" th:text="${tmpCaracter.name}"
                                        th:value="${tmpCaracter.id}"></option>
                                </select>
                            </div>
                            <!-- <div class="col-12">
                                <label for="description" style="color: #687281;"><b>Descripción de la mascota </b><span
                                        style="color: red;">*</span></label>
                                <textarea class="form-control" id="description" th:field="*{description}"></textarea>
                            </div> -->
                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-end">
                        <button class="btn btn-success" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        let file = document.getElementById("image");

        const uploadFile = () => {
            file.click();
        }
    </script>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>