<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/header :: header"></div>

<body>
    <div th:replace="fragments/navbar :: navbar-anonimo"></div>

    <div class="container-fluid mt-3">
        <h1>Hola</h1>
        <!-- Button trigger modal register news -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalRegistrarNoticia">
            Registrar noticia
        </button>

        <!-- Button trigger modal modify news -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalModificarNoticia">
            Modificar noticia
        </button>

        <!-- Button trigger modal register pet -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalInformacionMascota">
            Información mascota
        </button>
    </div>

    <!-- Modal register news -->
    <div class="modal fade" id="modalRegistrarNoticia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar noticia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registrarNoticia" name="registrarNoticia" novalidate th:action="@{/savePost}" method="post" th:object="${post}">
                        <div class="form-group">
                            <div></div>
                            <div class="form-row">
                                <div class="col-12 col-sm-6 col-md-6">
                                    <label for="title" style="color: #687281;"><b>Título </b><span style="color: red;">*</span></label>
                                    <input type="text" class="form-control" id="title" th:field="*{title}"
                                        placeholder="Ingresa un título corto">
                                        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger mb-3 mt-3"></div>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4">
                                    <div class="form-check">
                                        <label class="form-check-label" for="isPrincipal" style="color: #687281;"><b>¿Es principal? </b><span style="color: red;">*</span></label>
                                        <input type="checkbox" class="form-check-input" id="isPrincipal" th:field="*{isMain}"
                                            style="display: block; margin-left: 0%;">
                                            <div th:if="${#fields.hasErrors('isMain')}" th:errors="*{isMain}" class="alert alert-danger mb-3 mt-3"></div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <label for="contenido" style="color: #687281;"><b>Contenido </b><span style="color: red;">*</span></label>
                                    <textarea class="form-control col-12" id="contenido" th:field="*{content}"
                                        placeholder="Ingresa el contenido de la noticia"></textarea>
                                        <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="alert alert-danger mb-3 mt-3"></div>
                                </div>
                                <div class="col-6">
                                    <label for="image" style="color: #687281;"><b>Imagen </b><span style="color: red;">*</span></label>
                                    <button type="button" onclick="uploadFile()" class="col-12 btn btn-info">Subir
                                        imagen</button>
                                    <input type="file" style="display: none;" id="image" accept=".jpg, .jpeg, .png">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success" >Guardar</button>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>

    <!-- Modal modify news -->
    <div class="modal fade" id="modalModificarNoticia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar entrada de blog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="modificarNoticia" name="modificarNoticia" novalidate>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-12 col-sm-6 col-md-6">
                                    <label for="title" style="color: #687281;"><b>Título </b><span style="color: red;">*</span></label>
                                    <input type="text" class="form-control" id="title"
                                        placeholder="Ingresa un título corto">
                                </div>
                                <div class="col-12 col-sm-4 col-md-4">
                                    <div class="form-check">
                                        <label class="form-check-label" for="isPrincipal" style="color: #687281;"><b>¿Es principal? </b><span style="color: red;">*</span></label>
                                        <input type="checkbox" class="form-check-input" id="isPrincipal"
                                            style="display: block; margin-left: 0%;">
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <label for="contenido" style="color: #687281;"><b>Contenido </b><span style="color: red;">*</span></label>
                                    <textarea class="form-control col-12" id="contenido"
                                        placeholder="Ingresa el contenido de la noticia"></textarea>
                                </div>
                                <div class="col-6">
                                    <label for="image" style="color: #687281;"><b>Imagen </b><span style="color: red;">*</span></label>
                                    <button type="button" onclick="uploadFile()" class="col-12 btn btn-info">Subir
                                        imagen</button>
                                    <input type="file" style="display: none;" id="image" accept=".jpg, .jpeg, .png">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-warning">Modificar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="modal fade" id="modalModificarNoticia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar noticia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="container">
                            <form id="registrarMascota" name="registrarMascota" novalidate>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-12 col-sm-4">
                                            <img class="img-fluid img-thumbnail mx-auto d-block mb-3" height="80rem"
                                                src="http://www.kennelclubargentino.org.ar/wp-content/uploads/2020/01/corgi3.jpg">
                                            <div class="row">
                                            </div>
                                        </div>
                                        <div class="row col-12 col-sm-8">
                                            <div class="col-12">
                                                <label for="name" style="color: #687281;"><b>Título de publicación </b></label>
                                                <p>Corgis, los mejores nadadores</p>
                                            </div>
                                            <div class="col-6">
                                                <label for="name" style="color: #687281;"><b>Nombre de la mascota</b></label>
                                                <p>Caramelo</p>
                                            </div>
                                            <div class="col-6 col-sm-3">
                                                <label for="name" style="color: #687281;"><b>Sexo</b></label>
                                                <p>Macho</p>
                                            </div>
                                            <div class="col-6 col-sm-3">
                                                <label for="name" style="color: #687281;"><b>Edad</b></label>
                                                <p>10 meses</p>
                                            </div>
                                            <div class="col-6 col-sm-3">
                                                <label for="name" style="color: #687281;"><b>Tamaño</b></label>
                                                <p>Pequeño</p>
                                            </div>
                                            <div class="col-6 col-sm-3">
                                                <label for="name" style="color: #687281;"><b>Color</b></label>
                                                <p>Con manchas</p>
                                            </div>
                                            <div class="col-6 col-sm-3">
                                                <label for="name" style="color: #687281;"><b>Carácter</b></label>
                                                <p>Juguetón</p>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="description" style="color: #687281;"><b>Descripción de la mascota </b></label>
                                            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                        <div class="col-12">
                                            <label for="content" style="color: #687281;"><b>Descripción de la publicación </b></label>
                                            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success">Solicitar adopción</button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Modal info pet -->
    <div class="modal fade" id="modalInformacionMascota" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Información de la mascota</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="container">
                            <form id="informacionMascota" name="informacionMascota" novalidate>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-12 col-sm-4">
                                            <img class="img-fluid img-thumbnail mx-auto d-block mb-3" height="80rem"
                                                src="http://www.kennelclubargentino.org.ar/wp-content/uploads/2020/01/corgi3.jpg">
                                            <div class="row">
                                            </div>
                                        </div>
                                        <div class="row col-12 col-sm-8">
                                            <div class="col-12">
                                                <label for="name" style="color: #687281;"><b>Título de publicación </b></label>
                                                <p>Corgis, los mejores nadadores</p>
                                            </div>
                                            <div class="col-6">
                                                <label for="name" style="color: #687281;"><b>Nombre de la mascota</b></label>
                                                <p>Caramelo</p>
                                            </div>
                                            <div class="col-6 col-sm-3">
                                                <label for="name" style="color: #687281;"><b>Sexo</b></label>
                                                <p>Macho</p>
                                            </div>
                                            <div class="col-6 col-sm-3">
                                                <label for="name" style="color: #687281;"><b>Edad</b></label>
                                                <p>10 meses</p>
                                            </div>
                                            <div class="col-6 col-sm-3">
                                                <label for="name" style="color: #687281;"><b>Tamaño</b></label>
                                                <p>Pequeño</p>
                                            </div>
                                            <div class="col-6 col-sm-3">
                                                <label for="name" style="color: #687281;"><b>Color</b></label>
                                                <p>Con manchas</p>
                                            </div>
                                            <div class="col-6 col-sm-3">
                                                <label for="name" style="color: #687281;"><b>Carácter</b></label>
                                                <p>Juguetón</p>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="description" style="color: #687281;"><b>Descripción de la mascota </b></label>
                                            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                        <div class="col-12">
                                            <label for="content" style="color: #687281;"><b>Descripción de la publicación </b></label>
                                            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success">Solicitar adopción</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        let file = document.getElementById("image");

        const uploadFile = () => {
            file.click();
        }

    </script>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>