<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header"></div>

<body>

	<div th:replace="fragments/navbar :: navbar"></div>						

    <div class="container-fluid" style="margin-top:48px">
        <!--Start the carousel-->
        <div class="col-12">
            <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li th:each="tmpPost : ${postList}" data-target="#carouselExampleCaptions" th:data-slide-to="${tmpPost.id}"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/landingimage.jpg" style="width:100%; height: 600px; object-fit: cover;"
                                class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                        </div>
                        <div class="carousel-item" th:each="tmpPost : ${postList}">
                            <img th:id="${tmpPost.id}" th:src="@{/imagenes/{i} (i = ${tmpPost.image})}" style="width:100%; height: 600px; object-fit: cover;"
                                class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">                                
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            
        </div>      
        
        
        <div class="container-fluid mt-3 mb-3 text-center" >
            
            <!--Controls-->
            <div class="controls-top">
                <a class="btn-floating" href="#multi-item-example" data-slide="prev"><span class="material-icons"
                    style="vertical-align: middle;">chevron_left</span>&nbsp;Anterior</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn-floating" href="#multi-item-example" data-slide="next">Siguiente&nbsp;<span
                    class="material-icons" style="vertical-align: middle;">chevron_right</span></a>
            </div>
            <!--Controls-->
        </div>
        <!--End the carousel-->

        <!--Start the cards-->
    </div>
    <div class="col-12">
        

        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example" data-slide-to="1"></li>

            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">
                    <div class="col-md-3" th:each="tmpPet : ${petList}" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="/images/perrosygatos.webp"
                                alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title" th:text="${tmpPet.name}"></h4>
                                <p class="card-text" th:utext="${tmpPet.description}"></p>
                                <a class="btn btn-primary" style="color:white" ><span class="material-icons" style="vertical-align: middle;">add</span>&nbsp; Mas información</a></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.First slide-->

                <!--Second slide-->
                <div class="carousel-item" th:each="secondTmpPet : ${secondPetList}">
                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="/images/perrosygatos.webp"
                                alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title" th:text="${secondTmpPet.name}"></h4>
                                <p class="card-text" th:utext="${secondTmpPet.description}"></p>
                                <a class="btn btn-primary" style="color:white" ><span class="material-icons" style="vertical-align: middle;">add</span>&nbsp; Mas información</a></a>
                            </div>
                        </div>
                    </div>                    
                </div>
                <!--/.Second slide-->
            </div>
            <!--/.Slides-->
        </div>
        <!--/.Carousel Wrapper-->
    </div>
    <!--End the cards-->
    <div th:insert="fragments/footer :: footer"></div>
</body>

<script>
    function showTitle(img){
        var imagen = document.getElementById(img);
        imagen.src = gray(img);
    }
</script>

</html>