<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header"></div>

<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container-fluid" style="margin-top:48px">
        <!--Start the carousel-->
        <div class="col-12">
            <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li th:each="tmpPost : ${postList}" data-target="#carouselExampleCaptions"
                            th:data-slide-to="${tmpPost.id}"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/landingimage.jpg" style="width:100%; height: 600px; object-fit: cover;"
                                class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                        </div>
                        <div class="carousel-item" th:each="tmpPost : ${postList}">
                            <div class="post">
                                <img th:id="${tmpPost.id}" th:src="@{/imagenes/{i} (i = ${tmpPost.image})}"
                                    style="width:100%; height: 600px; object-fit: cover;" class="d-block w-100"
                                    alt="...">
                                <footer>
                                    <h2 th:text="${tmpPost.title}"></h2>
                                </footer>
                            </div>
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>


        </div>


        <div class="container-fluid mt-3 mb-3 text-center">

            <!--Controls-->
            <div class="controls-top">
                <a class="btn-floating" href="#multi-item-example" data-slide="prev"><span class="material-icons"
                        style="vertical-align: middle;">chevron_left</span>&nbsp;Anterior</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn-floating" href="#multi-item-example" data-slide="next">Siguiente&nbsp;<span
                        class="material-icons" style="vertical-align: middle;">chevron_right</span></a>
            </div>
            <!--Controls-->
        </div>
        <!--End the carousel-->

        <!--Start the cards-->
    </div>
    <div class="col-12">


        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example" data-slide-to="1"></li>

            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">
                    <div class="col-md-3 mb-2" th:each="tmpPet : ${petList}" style="float:left">
                        <div class="card h-100">
                            <img 
                            	class="card-img-top" 
                            	th:src="@{/imagenesPet/{i} (i = ${tmpPet.image})}"
                                alt="Card image cap"
                            	style="width:100%; height: 170px; object-fit: cover;"    
                            >
                            <div class="card-body">
                                <h4 class="card-title" th:text="${tmpPet.name}"></h4>
                                <p class="card-text" th:utext="${tmpPet.description}"></p>
                                <button type="button" class="btn btn-success btn-justInformationEveryone"
                                    th:attr="data-image=${tmpPet.image},data-name=${tmpPet.name}, data-age=${tmpPet.age}, data-unit-age=${tmpPet.unitAge}, data-description=${tmpPet.description}, data-date=${tmpPet.registrationDate}, data-type=${tmpPet.type}, data-color=${tmpPet.color.name}, data-personality=${tmpPet.personality.name}, data-size=${tmpPet.size}, data-gender=${tmpPet.sex}">
                                    Detalles
                                </button>
                            </div>
                            <!-- <div class="card-footer text-muted">
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <div th:if="!(${tmpPet.status.equals('lovedIt') || tmpPet.status.equals('heart')})">
                                            <form th:action="@{/mascotas/heartOne}" method="POST">
                                                <input type="hidden" name="petId" th:value="${tmpPet.id}">
                                                <input type="hidden" name="location" th:value="${location}">
                                                <button class="btn btn-outline-gray"
                                                    style="border : none; right: 0px !important;">
                                                    <span class="material-icons">
                                                        favorite_border
                                                    </span>
                                                </button>
                                            </form>
                                        </div>
                                        <div th:if="${tmpPet.status.equals('lovedIt') || tmpPet.status.equals('heart')}">
                                            <form th:action="@{/mascotas/removeHeart}" method="POST">
                                                <input type="hidden" name="petId" th:value="${tmpPet.id}">
                                                <input type="hidden" name="location" th:value="${location}">
                                                <button class="btn btn-outline-gray"
                                                    style="border : none; right: 0px !important;">
                                                    <span class="material-icons" style="color: red;">
                                                        favorite
                                                    </span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="card-footer" >
                            	
                            	<div th:if="!(${tmpPet.status.equals('lovedIt') || tmpPet.status.equals('heart')})">
                                    <form th:action="@{/mascotas/heartOne}" method="POST">
                                        <input type="hidden" name="petId" th:value="${tmpPet.id}">
                                        <input type="hidden" name="location" th:value="${location}">
                                        <button class="btn btn-outline-gray"
                                            style="border : none; right: 0px !important; padding-right: 0px;">
                                            <span class="material-icons">
                                                favorite_border
                                            </span>
                                            <span class="align-top">
                                                [[${tmpPet.type}]]
                                            </span>
                                        </button>
                                    </form>
                                </div>
                                <div th:if="${tmpPet.status.equals('lovedIt') || tmpPet.status.equals('heart')}">
                                    <form th:action="@{/mascotas/removeHeart}" method="POST">
                                        <input type="hidden" name="petId" th:value="${tmpPet.id}">
                                        <input type="hidden" name="location" th:value="${location}">
                                        <button class="btn btn-outline-gray"
                                            style="border : none; right: 0px !important; padding-right: 0px;">
                                            <span class="material-icons" style="color: red;">
                                                favorite
                                            </span>
                                            <span class="align-top">
                                                [[${tmpPet.type}]]
                                            </span>
                                        </button>
                                    </form>
                                </div>
                            	
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!--/.First slide-->

                <!--Second slide-->
                <div class="carousel-item">
                    <div class="col-md-3  mb-2" th:each="secondTmpPet : ${secondPetList}" style="float:left">
                        <div class="card h-100">
                            <img 
                            	class="card-img-top" 
                            	th:src="@{/imagenesPet/{i} (i = ${secondTmpPet.image})}"
                                alt="Card image cap"
                            	style="width:100%; height: 170px; object-fit: cover;"
                            >
                            <div class="card-body">
                                <h4 class="card-title" th:text="${secondTmpPet.name}"></h4>
                                <p class="card-text" th:utext="${secondTmpPet.description}"></p>
                                <button type="button" class="btn btn-success btn-justInformationEveryone"
                                    th:attr="data-image=${secondTmpPet.image},data-name=${secondTmpPet.name}, data-age=${secondTmpPet.age},data-unit-age=${secondTmpPet.unitAge}, data-description=${secondTmpPet.description}, data-date=${secondTmpPet.registrationDate}, data-type=${secondTmpPet.type}, data-color=${secondTmpPet.color.name}, data-personality=${secondTmpPet.personality.name}, data-size=${secondTmpPet.size}, data-gender=${secondTmpPet.sex}">
                                    Detalles
                                </button>
                            </div>
                            
                            <div class="card-footer" >
                            
                            	<div class="card-footer" >
                            	
                            	<div th:if="!(${secondTmpPet.status.equals('lovedIt') || secondTmpPet.status.equals('heart')})">
                                    <form th:action="@{/mascotas/heartOne}" method="POST">
                                        <input type="hidden" name="petId" th:value="${secondTmpPet.id}">
                                        <input type="hidden" name="location" th:value="${location}">
                                        <button class="btn btn-outline-gray"
                                            style="border : none; right: 0px !important; padding-right: 0px;">
                                            <span class="material-icons">
                                                favorite_border
                                            </span>
                                            <span class="align-top">
                                                [[${secondTmpPet.type}]]
                                            </span>
                                        </button>
                                    </form>
                                </div>
                                <div th:if="${secondTmpPet.status.equals('lovedIt') || secondTmpPet.status.equals('heart')}">
                                    <form th:action="@{/mascotas/removeHeart}" method="POST">
                                        <input type="hidden" name="petId" th:value="${secondTmpPet.id}">
                                        <input type="hidden" name="location" th:value="${location}">
                                        <button class="btn btn-outline-gray"
                                            style="border : none; right: 0px !important; padding-right: 0px;">
                                            <span class="material-icons" style="color: red;">
                                                favorite
                                            </span>
                                            <span class="align-top">
                                                [[${secondTmpPet.type}]]
                                            </span>
                                        </button>
                                    </form>
                                </div>
                            	
                            </div>
                            
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!--/.Second slide-->
            </div>
            <!--/.Slides-->
        </div>
        <!--/.Carousel Wrapper-->
    </div>
    <!--End the cards-->
    <div th:insert="fragments/footer :: footer"></div>
    <div th:replace="fragments/modalForInformation :: modalInformation"></div>
</body>

<script>
    function showTitle(img) {
        var imagen = document.getElementById(img);
        imagen.src = gray(img);
    }
</script>
<script th:src="@{/js/petFunctions.js}"></script>

</html>