<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header" ></div>

<body>
    <div id="layoutAuthentication_content" >
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-9 col-lg-5 mt-3 mb-3">
                        <div class="card shadow-lg border-0 rounded-lg">
                            <div class="card-header text-center"><strong>Inicio de sesión</strong></div>
                            <div class="card-body">
                                <figure>
                                    <div class="img-fluid text-center">
                                        <img th:src="@{/images/logo.png}" class="img-fluid" width="125px" >
                                    </div>
                                </figure>
                                <form th:action="@{/login}" method="POST" class="login-form" novalidate autocomplete="off" id="loginForm" name="loginForm">
                                    <div class="form-group"><label class="font-weight-700 mb-1" for="inputEmailAddress">Username</label>
                                        <div class="input-group"> 
                                            <div class="input-group-prepend">
                                                <span class="input-group-text material-icons" id="basic-addon1">account_circle</span>
                                            </div>
                                            <input class="form-control" name="username" type="text" placeholder="Escriba su nombre de usuario">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-700 mb-1" for="inputPassword">Contraseña</label>
                                        <div class="input-group mb-0" >
                                            <div class="input-group"> 
                                                <div class="input-group-prepend">
                                                    <div class="input-group-prepend">
		                                                <span class="input-group-text material-icons" id="basic-addon1">visibility</span>
		                                            </div>
                                                </div>
                                                <input class="form-control" name="password" type="password" placeholder="Escriba su contraseña">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex justify-content-end ">
                                        <div class="font-weight-500" style="font-size: 13px;"><a th:href="@{/restablecerContrasena}">¿Olvidaste tu contraseña?</a></div>
                                    </div>
                                    <div class="form-group d-flex justify-content-end">
                                        <div class="font-weight-500" style="font-size: 13px;"><a th:href="@{/usuarios/registro}">Regístrate</a></div>
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-center ">
                                        <button ng-if="!loadingButton" ng-disabled="loginForm.$invalid" class="btn btn-primary border-5 rounded-lg font-weight-500" type="submit" >
                                            Iniciar sesión
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
<div th:replace="fragments/footer :: footer" >


</div>
</body>
</html>