<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"></div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#content',
        plugins: "textcolor, table lists code",
        toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor table code"
    });
    tinymce.init({
        selector: '#contentEdit',
        plugins: "textcolor, table lists code",
        toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor table code"
    });
</script>
<style>
    img.floatLeft {
        float: left;
        margin: 4px;
    }
</style>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container" style="margin-top:80px;">
        <div class="row">
            <div class="col-12">
                <div class="col-12 row">
                    <div class="col-9">
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                            <span class="material-icons" style="vertical-align: middle;">add</span>
                            Más noticias
                        </button>
                    </div>
                    <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="col ml-5">
                        <button class="btn btn-primary" type="button" data-toggle="modal"
                            data-target="#modalRegistrarNoticia">
                            <span class="material-icons" style="vertical-align: middle;">create</span>
                            Registrar noticias
                        </button>
                    </div>
                </div>
                <div class="offcanvas offcanvas-start shadow-lg" data-bs-scroll="true" data-bs-backdrop="false"
                    tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasScrollingLabel" style="font-size:30px">Noticias y
                            publicaciones</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div th:each="tmpPost: ${postList}">
                            <a th:href="${'#'+tmpPost.id}" style="text-decoration: none; color: black;">
                                <div class="row shadow mt-2"
                                    style="border-bottom-right-radius: 25px; border-bottom-left-radius: 15px; margin-inline: 2px; padding-inline: 2px;">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-12">
                                                <p th:text="${tmpPost.title}"></p>
                                            </div>
                                            <div class="col-12">
                                                <div class="row mt-3">
                                                    <div class="offset-7 col-5 ">
                                                        21/03/2022
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <img style="margin-block: 15px; margin-top:0px; width:100%; height: 100px; object-fit: cover; border-bottom-right-radius: 10px; border-top-right-radius: 10px"
                                            th:src="@{/imagenes/{i} (i = ${tmpPost.image})}">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div th:each="tmpPost : ${postList}">
                <a th:href="@{/noticias/editar/{id} (id = ${tmpPost.id})}" style="text-decoration: none; color: black;">
                        <div
                            class="row no-gutters border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-250 position-relative">
                            <div class="col-12 col-md-8 p-4 d-flex flex-column position-static">
                                <div class="d-flex justify-content-between">
                                    <h3 th:text="${tmpPost.title}"></h3>
                                </div>
                                <strong class="d-inline-block mb-2 text-success"
                                    th:text="${tmpPost.isMain == true} ? 'Principal':'Normal' "></strong>
                                <div class="mb-1 text-muted">Publicado: [[${tmpPost.postDate}]]</div>
                                <p class="card-text mb-auto" th:utext="${tmpPost.content}"></p>
                            </div>
                            <div class="col-12 col-md-4 mt-2 d-lg-block">
                                <img class="rounded" style="width: 95%; height: 200px; object-fit: cover"
                                    th:src="@{/imagenes/{i} (i = ${tmpPost.image})}">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div th:replace="fragments/inicioModals :: modal-new"></div>

    </div>
    <script th:replace="fragments/footer :: footer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script>

        let file = document.getElementById("image");

        const uploadFile = () => {
            file.click();
        }

    </script>
</body>

</html>