<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"></div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script>
    tinymce.init({
        selector: '#content',
        plugins: "textcolor, table lists code",
        toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor table code"
    });
    tinymce.init({
        selector: '#contentEdit',
        plugins: "textcolor, table lists code",
        toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor table code"
    });
</script>
<style>
    img.floatLeft {
        float: left;
        margin: 4px;
    }
</style>

<body>
    <div th:replace="fragments/navbar :: navbar('noticias')"></div>
    <div class="container" style="margin-top:80px;">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="col-12 row">
                    <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="col-md-10 col-sm-12 col-xs-12 mt-2">
                        <button class="btn btn-success" type="button" data-toggle="modal"
                            data-target="#modalRegistrarNoticia">
                            <span class="material-icons" style="vertical-align: middle;">create</span>
                            Registrar noticia
                        </button>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 mt-2">
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                            <span class="material-icons" style="vertical-align: middle;">add</span>
                            Más noticias
                        </button>
                    </div>
                </div>
                <div class="offcanvas offcanvas-start shadow-lg" data-bs-scroll="true" data-bs-backdrop="false"
                    tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasScrollingLabel" style="font-size:30px">Noticias y
                            publicaciones</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div th:each="tmpPost: ${postList}">
                            <a th:href="${'#'+tmpPost.id}" style="text-decoration: none; color: black;">
                                <div class="row shadow mt-2"
                                    style="border-bottom-right-radius: 25px; border-bottom-left-radius: 15px; margin-inline: 2px; padding-inline: 2px;">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-12">
                                                <p th:text="${tmpPost.title}"></p>
                                            </div>
                                            <div class="col-12">
                                                <div class="row mt-3">
                                                    <div class="offset-7 col-5 ">
                                                        21/03/2022
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <img style="margin-block: 15px; margin-top:0px; width:100%; height: 100px; object-fit: cover; border-bottom-right-radius: 10px; border-top-right-radius: 10px"
                                            th:src="@{/imagenes/{i} (i = ${tmpPost.image})}">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div th:each="tmpPost : ${postList}">
                <div th:id="${tmpPost.id}"
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-250 position-relative">
                    <div class="col-12 col-md-8 p-4 d-flex flex-column position-static">
                        <div class="d-flex justify-content-between">
                            <h3 th:text="${tmpPost.title}"></h3>
                        </div>
                        <strong class="badge badge-success mb-2 col-2"
                            th:text="${tmpPost.isMain == true} ? 'Principal':'' "></strong>
                        <strong class="badge badge-primary mb-2 col-2" sec:authorize="hasAuthority('ROLE_ADMIN')"
                            th:text="${tmpPost.status == 'enabled'} ? 'Habilitada':'' "></strong>
                        <strong class="badge badge-danger mb-2 col-2" sec:authorize="hasAuthority('ROLE_ADMIN')"
                            th:text="${tmpPost.status == 'disabled'} ? 'Deshabilitada':'' "></strong>
                        <div class="mb-1 text-muted">Publicado: [[${tmpPost.postDate}]]</div>
                        <p class="card-text" th:utext="${tmpPost.content}"></p>
                    </div>
                    <div class="col-12 col-md-4 mt-2 d-lg-block">
                        <img class="rounded" style="width: 95%; height: 200px; object-fit: cover"
                            th:src="@{/imagenes/{i} (i = ${tmpPost.image})}">
                    </div>
                    <div class="mb-2 mt-2 d-flex justify-content-end">
                        <a class="btn btn-warning text-white mr-2" sec:authorize="hasAuthority('ROLE_ADMIN')"
                            th:href="@{/noticias/editar/{id} (id = ${tmpPost.id})}" method="get">Editar</a>
                        <a th:if="${tmpPost.status == 'enabled'}" class="btn btn-danger text-white"
                            sec:authorize="hasAuthority('ROLE_ADMIN')"
                            th:href="@{/noticias/deshabilitar/{id} (id = ${tmpPost.id})}" method="get">Deshabilitar</a>
                        <a th:if="${tmpPost.status == 'disabled'}" class="btn btn-success text-white"
                            sec:authorize="hasAuthority('ROLE_ADMIN')"
                            th:href="@{/noticias/habilitar/{id} (id = ${tmpPost.id})}" method="get">Habilitar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/inicioModals :: modal-new"></div>

    </div>
    <script th:replace="fragments/footer :: footer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script>

        var blacklist = [",", ";", "/*", "*/", "@@", "@",
            "SELECT", "select", "script", "<script","UPDATE",
            "update", "DELETE", "delete", "input", "button",
            "div", "html", "char", "varchar", "nvarchar", "hooks.js",
            "int", "integer", "String", "sys", "sysobjects",
            "sysobject", "puto", "puta", "pendejo", "idiota", "estupido",
            "estúpido", "estupideces", "idioteces", "pendejadas",
            "encabronarse", "cabron", "cabrón", "chingada", "verga",
            "pito", "joder", "jodido", "jodete", "imbécil", "imbecil",
            "culero", "panocha", "fuck", "dick", "asshole", "ass",
            "bitch", "son of a bitch", "pussy", "nigga", "nigger",
            "deep throat", "bbc", "cock", "motherfucker", "fucker"];

        var blacklist2 = ["@@", "SELECT", "select", "script", "<script","UPDATE",
            "update", "DELETE", "delete", "input", "button",
            "div", "html", "char", "varchar", "nvarchar", "hooks.js",
            "int", "integer", "String", "sys", "sysobjects",
            "sysobject", "puto", "puta", "pendejo", "idiota", "estupido",
            "estúpido", "estupideces", "idioteces", "pendejadas",
            "encabronarse", "cabron", "cabrón", "chingada", "verga",
            "pito", "joder", "jodido", "jodete", "imbécil", "imbecil",
            "culero", "panocha", "fuck", "dick", "asshole", "ass",
            "bitch", "son of a bitch", "pussy", "nigga", "nigger",
            "deep throat", "bbc", "cock", "motherfucker", "fucker"];

        const validarDatos = () => {
            var title = document.getElementById("title").value.toLowerCase();
            var image = document.getElementById("image").value;
            var content = tinymce.get('content').getContent({format : 'raw'}).toLowerCase();            
            var flag = false;
            var flag2 = false;
            var flag3 = false;

            for (var i = 0; i < blacklist.length; i++) {
                if (title.includes(blacklist[i].toLowerCase())) {   
                    document.getElementById("titleValid").removeAttribute("hidden");
                    flag = true;
                }
            }

            for (var i = 0; i < blacklist2.length; i++) {
                if (content.includes(blacklist2[i].toLowerCase())) {
                    console.log("Aqui" + blacklist2[i].toLowerCase())
                    document.getElementById("contentValid").removeAttribute("hidden");
                    flag2 = true;
                }
            }

            if(title.length > 50){
                document.getElementById("titleMax").removeAttribute("hidden")
                flag = true;
            }

            if(title == ""){
                document.getElementById("titleVoid").removeAttribute("hidden");
                flag = true;
            }

            if(content == '<p><br data-mce-bogus="1"></p>'){
                document.getElementById("contentVoid").removeAttribute("hidden");
                flag2 = true;
            }

            if(image == ""){
                document.getElementById("imageValid").removeAttribute("hidden");
                flag3 = true;
            }

            if(flag == false && flag2 == false && flag3 == false){
                document.getElementById("registrarNoticia").submit();
            }else{
            }

        }

    </script>
</body>

</html>