<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Perfil</title>
</head>
<body>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <div class="card text">
            <div class="card-header text-center">
                <img class="card-img-top bg-dark" src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359554_960_720.png" style="width:150px;height:150px; border-radius: 50%;">
            </div>
                <div class="card-head text-center mt-3">
                    <h3>{{Rol}} Adoptame</h3>
                </div>
                <div class="card-body row">
                    <div class="col-4">
                        <h5>Usuario:</h5>
                        <h4 class="card-title">David Iván Pérez Torres</h4>
                    </div>
                    <div class="col-3">
                        <h5>Número telefónico:</h5>
                        <h4 class="card-title">777-444-5930</h4>
                    </div>
                    <div class="col-4">
                        <h5>Correo electrónico:</h5>
                        <h4 class="card-title">davidperez@utez.edu.mx</h4>
                    </div>    
                    
                </div>
                <hr>
                <div class="card-body row">
                    <h3 class="col-12 mb-4">Actualizar datos</h3>
                    <form class="container row">
                        <div class="form-group col-4">
                            <label for="">Nombre(s)</label>
                            <input type="text" class="form-control" id="" placeholder="Escriba un nombre" >
                            
                        </div>
                        <div class="form-group col-4">
                            <label for="">Apellido paterno</label>
                            <input type="text" class="form-control" id="" placeholder="Escriba un apellido">
                            
                        </div>
                        <div class="form-group col-4">
                            <label for="">Apellido materno</label>
                            <input type="text" class="form-control" id=""  placeholder="Escriba un apellido">
                            
                        </div>
                        <div class="form-group col-6">
                            <label for="exampleInputEmail1">Número telefónico</label>
                            <input type="text" class="form-control" id=""  placeholder="Escriba un número telefónico">
                            
                        </div>
                        <div class="form-group col-6">
                            <label for="exampleInputEmail1">Correo electrónico</label>
                            <input type="email" class="form-control" id=""  placeholder="Escriba un correo electrónico">
                            
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button type="submit" class="btn btn-primary col-4">Enviar</button>
                        </div>
                    </form>
                </div>
                <div class="card-body row">
                    <h3 class="col-12 mb-4">Actualizar contraseña</h3>
                    <form class="container row">
                        <div class="form-group col-4">
                            <label for="exampleInputEmail1">Contraseña anterior</label>
                            <div class="input-group"> 
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">#</span>
                                </div>
                                <input class="form-control " type="text" placeholder="Escriba su contraseña">
                            </div>
                        </div>
                        
                        <div class="form-group col-4">
                            <label for="exampleInputEmail1">Contraseña nueva</label>
                            <div class="input-group"> 
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">#</span>
                                </div>
                                <input class="form-control " type="text" placeholder="Escriba una nueva contraseña">
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <label for="exampleInputEmail1">Confirmación de contraseña</label>
                            <div class="input-group"> 
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">#</span>
                                </div>
                                <input class="form-control " type="text" placeholder="Confirme su contraseña">
                            </div>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button type="submit" class="btn btn-primary col-4">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</body>
<footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</footer>
</html>