<!DOCTYPE html>
<html lang="es">
<div th:replace="fragments/header :: header" ></div>
<body>
	<div th:replace="fragments/navbar :: navbar-admin" ></div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <div class="card text">
            <div class="card-header text-center">
                <img class="card-img-top bg-dark" th:src="@{/images/logo.png}" style="width:150px;height:150px; border-radius: 50%;">
            </div>
                <div class="card-head text-center mt-3">
                    <h3>{{Rol}} Adoptame</h3>
                </div>
                <div class="card-body row">
                    <div class="col-4">
                        <h5>Usuario:</h5>
                        <h4 class="card-title">David Iván Pérez Torres</h4>
                    </div>
                    <div class="col-3">
                        <h5>Número telefónico:</h5>
                        <h4 class="card-title">777-444-5930</h4>
                    </div>
                    <div class="col-4">
                        <h5>Correo electrónico:</h5>
                        <h4 class="card-title">davidperez@utez.edu.mx</h4>
                    </div>    
                    
                </div>
                <hr>
                <div class="card-body row">
                    <h3 class="col-12 mb-4">Actualizar datos</h3>
                    <form class="container row">
                        <div class="form-group col-4">
                            <label for="">Nombre(s)</label>
                            <input type="text" class="form-control" id="" placeholder="Escriba un nombre" >
                            
                        </div>
                        <div class="form-group col-4">
                            <label for="">Apellido paterno</label>
                            <input type="text" class="form-control" id="" placeholder="Escriba un apellido">
                            
                        </div>
                        <div class="form-group col-4">
                            <label for="">Apellido materno</label>
                            <input type="text" class="form-control" id=""  placeholder="Escriba un apellido">
                            
                        </div>
                        <div class="form-group col-6">
                            <label for="exampleInputEmail1">Número telefónico</label>
                            <input type="text" class="form-control" id=""  placeholder="Escriba un número telefónico">
                            
                        </div>
                        <div class="form-group col-6">
                            <label for="exampleInputEmail1">Correo electrónico</label>
                            <input type="email" class="form-control" id=""  placeholder="Escriba un correo electrónico">
                            
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button type="submit" class="btn btn-primary col-4">Enviar</button>
                        </div>
                    </form>
                </div>
                <div class="card-body row">
                    <h3 class="col-12 mb-4">Actualizar contraseña</h3>
                    <form class="container row">
                        <div class="form-group col-4">
                            <label for="exampleInputEmail1">Contraseña anterior</label>
                            <div class="input-group"> 
                                <div class="input-group-prepend">
		                            <span class="input-group-text material-icons" id="basic-addon1">visibility</span>
		                        </div>
                                <input class="form-control " type="text" placeholder="Escriba su contraseña">
                            </div>
                        </div>
                        
                        <div class="form-group col-4">
                            <label for="exampleInputEmail1">Contraseña nueva</label>
                            <div class="input-group"> 
                                <div class="input-group-prepend">
                                    <span class="input-group-text material-icons" id="basic-addon1">visibility</span>
                                </div>
                                <input class="form-control " type="text" placeholder="Escriba una nueva contraseña">
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <label for="exampleInputEmail1">Confirmación de contraseña</label>
                            <div class="input-group"> 
                                <div class="input-group-prepend">
                                    <span class="input-group-text material-icons" id="basic-addon1">visibility</span>
                                </div>
                                <input class="form-control " type="text" placeholder="Confirme su contraseña">
                            </div>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button type="submit" class="btn btn-primary col-4">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</body>
<div th:replace="fragments/footer :: footer" ></div>
</html>