<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"></div>
<style>
    .petsContainer {
        margin-inline: 5%;
    }

    .btn-heart {
        display: block;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 1px solid red;
    }

    .feather-14 {
        width: 14px;
        height: 14px;
    }

    .feather-16 {
        width: 16px;
        height: 16px;
    }

    .feather-24 {
        width: 24px;
        height: 24px;
    }

    .feather-32 {
        width: 32px;
        height: 32px;
    }

    .btn-heart:focus {
        border: none;
        outline: none;
    }
</style>

<body>
    <div th:replace="fragments/navbar :: navbar(${location})"></div>
    <div class="petsContainer" style="margin-top:70px">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="col-12 mt-3">
                        <h2 style="color: #ccc" class="text-center">Mascotas publicadas</h2>
                    </div>
                    <div sec:authorize="hasAuthority('ROLE_ADOPTER')" class="col-12 mt-3">
                        <h2 style="color: #ccc" class="text-center">Adopta una mascota hoy!</h2>
                    </div>
                    <div sec:authorize="hasAuthority('ROLE_VOLUNTEER')" class="col-12 mt-3">
                        <h2 style="color: #ccc" class="text-center">Publica una mascota</h2>
                    </div>
                    <!-- <div class="offset-md-8  col-12 col-md-4 ">
                        <form class="input-group mb-3" th:action="@{/mascotas/filtro}">
                            <input type="text" name="text" class="form-control" id="basic-url"
                                aria-describedby="basic-addon3">
                            <input type="submit" class="input-group-append btn btn-light" value="Buscar">
                        </form>
                    </div> -->
                </div>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <form th:action="@{/mascotas/{i}/getFilterPet (i = ${type})}" method="post" th:object="${pet}">
                    <label for="sex">Sexo</label>
                    <div class="input-group">
                        <select id="sex" class="form-control">
                            <option selected>Seleccione...</option>
                            <option>Macho</option>
                            <option>Hembra</option>
                        </select>
                    </div>

                    <label for="size">Tamaño</label>
                    <div class="input-group">
                        <select id="size" class="form-control">
                            <option selected>Seleccione...</option>
                            <option>Pequeño</option>
                            <option>Mediano</option>
                            <option>Grande</option>
                        </select>
                    </div>

                    <label for="color">Color</label>
                    <div class="input-group">
                        <select class="custom-select" id="color" th:field="*{color}">
                            <option th:each="tmpColor: ${colorsList}" th:text="${tmpColor.name}"
                                th:value="${tmpColor.id}"></option>
                        </select>
                    </div>

                    <div class="text-right mt-3">
                        <button class="btn btn-primary" type="submit">
                            <span class="material-icons" style="vertical-align: middle;">
                                filter_list
                            </span>
                            &nbsp;Filtrar
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 " th:each="tmpPet: ${listPets}">
                <div class="card h-100">
                    <img 
                    	class="card-img-top" 
                    	th:src="@{/imagenesPet/{i} (i = ${tmpPet.image})}"
                    	style="width:100%; height: 170px; object-fit: cover;"	
                   	>
                    <div class="card-body">
                        <h4 class="card-title">[[${tmpPet.name}]]</h4>
                    	<span style="font-size: 12px" class="badge badge-pill badge-light shadow" th:text="${tmpPet.sex == 'H'? 'Hembra' : 'Macho' }"></span>
                        <p class="card-text" th:utext="${tmpPet.description}"></p>
                        
                        <div class="row">
                            <button class="btn btn-success mr-2 ml-2" data-toggle="modal"
                                th:attr="data-target=${'#editModal'+tmpPet.id}" data-row="${tmpPet}">Detalles</button>
                        </div>
                    </div>

                    <div class="card-footer text-muted">
                        <div class="row">
                            <div class="col-8">
                                <div
                                    th:if="${tmpPet.status.equals('requestedByYou') || tmpPet.status.equals('lovedIt')}">
                                    <form th:action="@{/mascotas/removeRequest}" method="POST"
                                        th:attr="id=${'removalForm' + tmpPet.id}">
                                        <input type="hidden" name="petId" th:value="${tmpPet.id}">
                                        <input type="hidden" name="location" th:value="${location}">
                                        <button type="button"
                                            th:onclick="'javascript:removeRequest(\''+${tmpPet.id}+'\');'"
                                            class="btn btn-warning">Retirar solicitud</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-4 text-right">
                                <div th:if="!(${tmpPet.status.equals('lovedIt') || tmpPet.status.equals('heart')})">
                                    <form th:action="@{/mascotas/heartOne}" method="POST">
                                        <input type="hidden" name="petId" th:value="${tmpPet.id}">
                                        <input type="hidden" name="location" th:value="${location}">
                                        <button class="btn btn-outline-gray"
                                            style="border : none; right: 0px !important; padding-right: 0px;">
                                            <span class="material-icons">
                                                favorite_border
                                            </span>
                                            <span class="align-top">
                                                [[${tmpPet.type}]]
                                            </span>
                                        </button>
                                    </form>
                                </div>
                                <div th:if="${tmpPet.status.equals('lovedIt') || tmpPet.status.equals('heart')}">
                                    <form th:action="@{/mascotas/removeHeart}" method="POST">
                                        <input type="hidden" name="petId" th:value="${tmpPet.id}">
                                        <input type="hidden" name="location" th:value="${location}">
                                        <button class="btn btn-outline-gray"
                                            style="border : none; right: 0px !important; padding-right: 0px;">
                                            <span class="material-icons" style="color: red;">
                                                favorite
                                            </span>
                                            <span class="align-top">
                                                [[${tmpPet.type}]]
                                            </span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/modalsForAdoption :: modalForAdoption" ></div>
        </div>
    </div>





    <script th:replace="fragments/footer :: footer"></script>
    <script>
        $("#exampleModal").modal("hide");

        function showPet(ID) {
            $("#id").val(ID);
        }

    </script>
    <script th:src="@{/js/petFunctions.js}"></script>
</body>

</html>