<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Registro</title>
</head>
<body  >
    <div class="text-center m-5 row border  rounded p-5">
        <div class="container col-8" >
            <h3 class="col mb-5">Crea una cuenta</h3>
            <div class="w-100"></div>
            <form class="row">
                <input class="form-control mr-3 mb-3 col" type="text" placeholder="Nombre">
                <input class="form-control mr-3 mb-3 col" type="text" placeholder="Apellido Paterno">
                <input class="form-control mr-3 mb-3 col" type="text" placeholder="Apellido Materno">
                <div class="w-100"></div>
                <input class="form-control mr-3 mb-3  col-4" type="text" placeholder="Número telefónico">
                <div class="input-group mb-3 col">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input class="form-control " type="text" placeholder="Correo electrónico">
                </div>
                <div class="w-100"></div>
                
                <div class="col-10 text-left mb-3" >
                    <label for="edad" >Sexo <span style="color:red">*</span></label>
                    <input
                        class="ml-3" 
                        type="radio" 
                        ng-model="" 
                        name="sexo" 
                        value="1" 
                        >
                    <label>Hombre</label>
                    <input 
                        class="ml-3"
                        type="radio" 
                        ng-model="" 
                        name="sexo" 
                        value="2" 
                        >
                    <label>Mujer</label>
                </div>
                    
                
                <div class="w-100"></div>
                <input class="form-control mr-3 col" type="text" placeholder="Nombre de usuario">
                
                <div class="input-group col"> 
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">#</span>
                    </div>
                    <input class="form-control " type="text" placeholder="Contraseña">
                </div>
                <input class="form-control mr-3 col" type="text" placeholder="Confirmación">
                <div class="w-100"></div>
                <div class="row col-12 ml-4 mt-5">
                    <strong class="text-primary col"><a href="" >Prefiero iniciar sesión</a></strong>
                    <div class="col">
                        <input type="submit" value="Continuar" class="btn btn-success col-5">
                    </div>
                </div>
            </form>
        </div>
        <div class="col justify-content-center">
            <img class="" src="/logo.png" style="width:250px" alt="not found">
            <h4>Adoptame</h4>
            <!-- <img src="/../static/images/logo.png" style="width:300px" alt="not found"> -->
            <!-- <img src="https://www.javatpoint.com/images/nature-1.jpg" style="width:300px" alt="not found"> -->
        </div>
    </div>
</body>
<footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</footer>
</html>