<!DOCTYPE html>
<html lang="es">
<div th:replace="fragments/header :: header" ></div>
<body  >
    <div class="text-center m-5 row border  rounded p-5">
        <div class=" col-12 col-lg-8 order-last" >
            <h3 class="col mb-2">Crea una cuenta</h3>
            <div class="w-100"></div>
            <h5 class="col mb-3">Información personal</h5>
            <form class="row">
            	<div class=" pr-sm-1 mb-3 col-12 col-sm-6 col-md-6 col-lg-4"><input class="form-control " type="text" placeholder="Nombre"></div>
                <div class=" mb-3 col-12 col-sm-6 col-md-6 col-lg-4"><input class="form-control " type="text" placeholder="Apellido Paterno"></div>
                <div class=" pr-sm-1 mb-3 col-12 col-sm-6 col-lg-4"><input class="form-control " type="text" placeholder="Apellido Materno"></div>
                <div class=" mb-3 col-12 col-sm-6"><input class="form-control " type="text" placeholder="Número telefónico"></div>
                
                <div class="input-group mb-3 col-12 pr-0 row col-lg-6">
                    <div class="input-group-prepend ml-3">
	                    <span class="input-group-text material-icons " id="basic-addon1">email</span>
	                </div>
                    <input class="form-control " type="text" placeholder="Correo electrónico">
                </div>
                <div class="w-100"></div>
                
                <div class="col-12 col-sm-10 text-left mb-3" >
                    <label for="edad" >Sexo</label>
                    <div class="row">
	                    <div class="col-12 col-lg-4">
		                    <input
		                        class="ml-3" 
		                        type="radio" 
		                        ng-model="" 
		                        name="sexo" 
		                        value="1" 
		                        >
		                    <label>Hombre</label>
	                    </div>
	                    <div class="col-12 col-lg-3">
	                    <input 
	                        class="ml-3"
	                        type="radio" 
	                        ng-model="" 
	                        name="sexo" 
	                        value="2" 
	                        >
	                    <label>Mujer</label>
	                    </div>
                    </div>
                </div>
                    
                
                <div class="w-100"></div>
                <h5 class="col mb-3">Información de usuario</h5>
                <div class="w-100"></div>
                <div class="mb-3 col-12 col-sm-12 col-md-4 col-lg-4">
                	<input class="form-control " type="text" placeholder="Nombre de usuario">
                </div>
                <div class="input-group mb-3 col-12 pr-0 row col-md-4 col-lg-4"> 
                    <div class="input-group-prepend ml-3">
	                    <span class="input-group-text material-icons" id="basic-addon1">visibility</span>
	                </div>
                    <input class="form-control " type="password" placeholder="Contraseña">
                </div>
                <div class="input-group mb-3 col-12 pr-0 row col-md-4 ml-md-3 col-lg-4"> 
                    <div class="input-group-prepend ml-3">
	                    <span class="input-group-text material-icons" id="basic-addon1">visibility</span>
	                </div>
                    <input class="form-control " type="password" placeholder="Confirmación">
                </div>
                <div class="w-100"></div>
                <div class="row col-12 sm-ml-4 mt-2">
                    <strong class="text-primary col-12 mb-3"><a href="" >Prefiero iniciar sesión</a></strong>
                    <div class="col-12">
                        <input type="submit" value="Continuar" class="btn btn-success col-8 col-sm-5">
                    </div>
                </div>
            </form>
        </div>
        
    	<div class="col text-center" >
            <img class="img-fluid mw-25" th:src="@{/images/logo.png}" style="width: 350px;" alt="not found">
            <h4>Adoptame</h4>
        
        </div>
    </div>
</body>
<div th:replace="fragments/footer :: footer" ></div>
</html>