<!DOCTYPE html>
<html lang="es">
<div th:replace="fragments/header :: header" ></div>

<body class="bg-background-login">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-4 mb-2">

                                <div class="card-header text-center">
                                    <strong class="text-center">Solicitud de recuperación de contraseña</strong>
                                </div>

                                <div class="card-body">
                                    <a th:href="@{/login}">
                                        <span class="material-icons" style="vertical-align: middle;">
                                            arrow_back
                                        </span>
                                    </a>
                                    <figure>
                                        <div class="img-fluid text-center">
                                            <img th:src="@{/images/logo.png}" class="img-fluid" width="150px" >
                                        </div>
                                    </figure>
                                    <div class="text-center small text-muted mb-4">Ingresa el correo electronico asociado donde se enviará el enlace para recuperar tu contraseña.</div>
                                    <form th:action="@{/reset/password/email}" method="post">
                                        <div class="form-group">
                                            <label class="mb-1" style="font-weight: 700; color: #687281;">Correo electrónico</label>
                                            <input type="email"
                                                    name="email"
                                                    class="form-control py-4" 
                                                    placeholder="ejemplo@gmail.com" 
                                                    id="inputEmailAddress"
                                                    minlength="10"
                                                    maxlength="100"
                                                    required
                                                    autofocus=""/>
                                            
                                        </div>
                                        <div class="form-row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 form-group d-flex  justify-content-center ">
                                                <button class="btn btn-outline-primary border-5 rounded-lg font-weight-500 " 
                                                        id="btnRecuperacion" type="submit">Enviar enlace</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="card-footer text-left">
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
        </div>
    </div>
</body>

<div th:replace="fragments/footer :: footer" ></div>
</html>