<div th:fragment="profile" >
  <div class="row">
      <div class="col-12">
          <div class="card">
           <div class="card-header text-center">
               <img class="card-img-top bg-dark" th:src="@{/images/logo.png}" style="width:150px;height:150px; border-radius: 50%;">
           </div>
              <div class="card-head text-center mt-3">
                  <h3>Adoptame</h3>
              </div>
              <div class="card-body row ml-5 pl-5">
                  <div class="col-xl-4 col-lg-6 col-12">
                      <h5>Nombre de usuario:</h5>                      
                      <h4 class="card-title" th:text="${session.user.getUsername()}" ></h4>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-12">
                      <h5>Número telefónico:</h5>
                      <h4 class="card-title">777-444-5930</h4>
                  </div>
                  <div class="col-xl-4 col-lg-12 col-12">
                      <h5>Correo electrónico:</h5>
                      <h4 class="card-title">davidperez@utez.edu.mx</h4>
                  </div>    
                  
              </div>
              <hr>
              <div class="card-body row ml-5 pl-5">
                  <h3 class="col-xl-12 mb-4">Actualizar datos</h3>
                  <form class="container row" th:action="@{/usuarios/actualizar}" th:object="${user}" method="POST" >
                      <input type="text" th:field="*{username}" >
                      <input type="text" th:field="*{enabled}" th:value="true" >
                      <input type="text" th:field="*{person.personId}" >
                      <input type="text" th:field="*{person.gender}" >
                      <input type="text" th:field="*{authorities}"> 
                      <input type="text" th:field="*{person.registrationDate}" >
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                          <label for="">Nombre(s)</label>
                          <input type="text" th:field="*{person.name}" class="form-control" id="" placeholder="Escriba un nombre" >
                          
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                          <label for="">Apellido paterno</label>
                          <input type="text" th:field="*{person.surname}" class="form-control" id="" placeholder="Escriba un apellido">
                          
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                          <label for="">Apellido materno</label>
                          <input type="text" th:field="*{person.secondSurname}" class="form-control" id=""  placeholder="Escriba un apellido">
                          
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                          <label for="exampleInputEmail1">Número telefónico</label>
                          <input type="text" th:field="*{person.phoneNumber}" class="form-control" id=""  placeholder="Escriba un número telefónico">
                          
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                          <label for="exampleInputEmail1">Correo electrónico</label>
                          <input type="email" th:field="*{email}" class="form-control" id=""  placeholder="Escriba un correo electrónico">
                          
                      </div>
                      
                      <div class="form-group col-xl-4 col-lg-6  col-md-6 col-sm-12 col-12">
                          <label for="exampleInputEmail1">Contraseña anterior</label>
                          <div class="input-group"> 
                              <div class="input-group-prepend">
                            <span class="input-group-text material-icons" id="basic-addon1">visibility</span>
                        </div>
                              <input class="form-control " type="text" placeholder="Escriba su contraseña">
                          </div>
                      </div>
                      
                      <div class="form-group col-xl-4 col-lg-6  col-md-6 col-sm-12 col-12">
                          <label for="exampleInputEmail1">Contraseña nueva</label>
                          <div class="input-group"> 
                              <div class="input-group-prepend">
                                  <span class="input-group-text material-icons" id="basic-addon1">visibility</span>
                              </div>
                              <input class="form-control" th:field="*{password}" type="text" placeholder="Escriba una nueva contraseña">
                          </div>
                      </div>
                      <div class="form-group col-xl-4 col-lg-6  col-md-6 col-sm-12 col-12">
                          <label for="exampleInputEmail1">Confirmación de contraseña</label>
                          <div class="input-group"> 
                              <div class="input-group-prepend">
                                  <span class="input-group-text material-icons" id="basic-addon1">visibility</span>
                              </div>
                              <input class="form-control " type="text" placeholder="Confirme su contraseña">
                          </div>
                      </div>
                      <div class="col-12 text-center mt-3">
                          <button type="submit" class="btn btn-primary col-4">Guardar cambios</button>
                      </div>
                      
                  </form>
              </div>
             
          </div>
      </div>
      
  </div>
</div>
